<header class="flex items-center mb-8">
	<div class="w-16 h-16 mr-4">
	    <svg fill="none" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
	        <circle cx="100" cy="100" r="80" stroke="#3b82f6" stroke-dasharray="160 360" stroke-width="20" transform="rotate(-90 100 100)"></circle>
	        <text class="dark:fill-[#f9fafb]" dominant-baseline="middle" fill="#ffffff" font-family="Poppins, sans-serif" font-size="60" font-weight="bold" text-anchor="middle" x="50%" y="50%">HAVEN</text>
	    </svg>
	</div>
</header>
