aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
backoff==2.2.1
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
frozenlist==1.7.0
idna==3.10
multidict==6.6.4
opencage==3.2.0
phonenumbers==9.0.14
propcache==0.3.2
python-dotenv==1.1.1
requests==2.32.5
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
